h1 {
    font-size: 50px;
    font-family: 'Redressed', cursive;
}

.name-color {
    color: red;
}

section {
    display: inline-block;
}

.half-width {
    width: 40%;
    border: 1px solid red;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}